  @import url(https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap);

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  html,
  body {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
  }
  a{
    color: inherit;
    text-decoration: none;
  }

  ul{
    list-style: none;
  }
.body_fonts{
    font-family: Arial, Helvetica, sans-serif;
}
  .body_games {
      min-width: 320px;
      background-image: url("./background.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      font-family: 'Archivo Black', sans-serif;
      cursor: none;
      overflow: hidden;
  }
.container{
display: block;
position: relative;
max-width: 88%;
width: 100%;
height: fit-content;
margin: 0 auto;
}
.nav{
display: block;
position: relative;
font-size: 64px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
z-index: 999;
}
.nav ul{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
.nav li a:hover{
    color: #9C9C9C;
}
.main_text{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 27.3%;
}
.main{
    display: flex;
    position: relative;
    width: 100%;
    gap: 20px;
    height: fit-content;
    margin-top: 50px;
    padding-bottom: 100px;
    align-items: flex-end;
}
.main_picture{
    display: block;
    position: relative;
    width: 70%;
    height: 80vh;
    /* overflow-y: hidden; */
    /* overflow-x: auto; */
}
.main_picture img{
    width: 113%;
    position: absolute;
    left: 0;
    top: 0;

}
.gif{
    display: block;
    position: absolute;
    width: 80vw;
    height: 70vh;
    top: 0;
    left: -10vw;
    /* transform: rotate(-45deg); */
    z-index: 9;
}
  .scores {
      position: absolute;
      top: 46px;
      left: 43px;
      color: #fff;
      font-weight: 400;
      font-size: clamp(14px, 2vw, 50px);
      color: #fff;
  }

  .main__page {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 50px;
    top: 50px;
  }


  .first-round {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
  }

  .first-round__cols {
      width: 100%;
      height: 100%;
      align-items: end;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
  }

  .target {
      width: 100%;
      max-width: 142px;
      height: 100%;
      max-height: 142px;
      display: inline-block;
      background-image: url("./bubble.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      user-select: none;
      transition: .3s;
  }

  .first-round__target {
      animation: down-to-up infinite 4s linear;
  }

  .first-round__target:nth-child(even) {
      animation: up-to-down infinite 4s linear;
  }

  .hidden {
      opacity: 0;
      visibility: hidden;
  }

  .custom-cursor {
      position: fixed;
      pointer-events: none;
      z-index: 9999;
      user-select: none;
  }

  .custom-cursor img {
      width: 96px;
      height: 96px;
  }

  .win {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      background-image: url("./background.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 1000;

  }

  .win__text,
  .lose__text {
      color: #fff;
      font-weight: 400;
      font-size: clamp(14px, 2vw, 50px);
      color: #fff;
  }

  .win__btn,
  .lose__btn {
      padding: 12px 16px;
      border: 1px solid white;
      text-transform: uppercase;
      border-radius: 12px;
      cursor: none;
      transition: .3s;
      font-weight: 800;
  }

  .win__btn:hover {
      transform: scale(1.1);
  }

  .win__btn:active {
      transform: scale(0.95);
  }


  .first-run {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("./first-run-background.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 1000;
      padding: 24px;
      transition: .3s;
  }

  .first-run__top-text {
      font-size: 50px;
      color: #fff;
      font-family: Arial;
  }

  .first-run__heading {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      font-size: 50px;
      color: #fff;
      max-width: 595px;
      margin-left: auto;
      margin-top: 200px;
      margin-right: 200px;
  }

  .first-run__btn {
      padding: 100px;
      opacity: 0.6;
      border-radius: 50%;
      
      margin-left: auto;
      display: block;
      margin-right: auto;
      margin-top: 24px;
      background-image: url("./background.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: none;
      border: 1px solid rgba(255, 255, 255,0.5);
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      font-weight: 800;
  }
  .first-run__btn2 {
    padding: 100px;
    opacity: 0.6;
    border-radius: 50%;
    
    margin-left: auto;
    display: block;
    background: linear-gradient(rgba(255, 255, 255),black,white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border: 1px solid rgba(255, 255, 255,0.5);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 800;
}

.guess_link {
    display: block;
    position: absolute;
    right: 100px;
    bottom: 100px;
}

@media (max-width:640px) {
    .guess_link {
        position: relative;
        width: fit-content;
        left: 60%;
    }
    .first-run__btn {
        padding: 50px;
        margin-right: 200px;
    }
    .first-run__btn2 {
        padding: 50px;

    }
}


  .lose {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("./background.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
  }

  .second-round {
      width: 100%;
      height: 100%;
      padding-top: 200px;
      position: absolute;
      left: 0;
      top: 0;
  }

  .second-round__rows {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(5, 1fr);
  }

  .second-round__target {
      animation: left-to-right infinite 3s linear;

  }

  .second-round__target:nth-child(even) {
      animation: right-to-left infinite 3s linear;

  }


  .third-round {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
  }

  .third-round__target {
      position: absolute;
  }
  .slider_body{
    background: url(./gradient_1.png);
    background-attachment: fixed;
    background-size: cover;
  }
  .slider{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    gap: calc(2vw - 20px);
    margin: 50px auto;
  }
  .slider_container{
    display: block;
    position: relative;
    width: 90vw;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: 50px; */
  }
  .slides{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s linear;
  }
  .slide{
    display: flex;
    position: relative;
    width: 90vw;
    height: fit-content;
    justify-content: space-evenly;
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  .slide .image_block{
    width: 30%;
    padding: 40px;
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  .image_block img{
    width: 100%;
    transition: all 0.5s ease;
  }
  .line_left,.line_right{
    cursor: pointer;
    padding: 0 20px;
  }
  .line_left:hover,.line_right:hover{
    transform: scaleX(2);
  }
  .post_text1{
    display: flex;
    position: relative;
    width: 78vw;
    height: fit-content;
    padding: 15px 50px;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 auto;
    justify-content: center;
    color: #fff;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }
    .forma_block {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 44vw;
        height: fit-content;
        background: url(./big_bubble.png);
        padding: 270px 150px 200px 150px;
        background-size: cover;
        left: 50%;
        transform: translateX(-50%);
    }
    .form{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
    .form input{
        background: none;
        border: none;
        border-bottom: 1.5px solid #fff;
        outline: none;
    }
    .lopnut{
        background: none;
        align-self: flex-end;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        border: none;
    }
    .bub1{
        position: absolute;
        left: 157px;
        bottom: 10vh;
        transform: scale(1.5);
    }
    .bub2{
        position: absolute;
        top: 10vh;
        right: 10vw;
    }
    .bub3{
        position: absolute;
        top: 60vh;
        right: 15vw;
    }
    .bub2{
        position: absolute;
        top: 10vh;
        right: 10vw;
    }
    .result_form{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 48px;
    }
    .body_cursor{
        cursor: auto;
    }
    .form1_body {
        cursor: url(./cursor.png) 17 17,default;
    }
    .burger_nav{
        display: none;
        position: absolute;
        top: 100%;
    }
    .burger_nav.active{
        display: block;
        z-index: 9999;
        
    }
    .burger_icon img{
        width: 50px;
        cursor: pointer;
    }
    .burger_nav ul{
        padding-left: 20px;
    }
    .tantra ul{
        display: none;
    }
    .tantra:hover ul{
        display: block;
    }
    .burger_menu{
        display: block;
        position: relative;
        height: fit-content;
        width: fit-content;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    .burger_menu.dark_menu{
        color: black;
    }
    .nav .tantra_links{
        display: none;
        position: absolute;
        top: 100%;
        flex-direction: column;
        font-size: 64px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        background: #fff;
        width: fit-content;
    }
  .nav .tantra_links.active{
    display: flex;
  }
    .tantra_link{
        display: block;
        position: relative;
        height: fit-content;
        width: fit-content;
    }
    .body_shop,.body_rasp{
        overflow: auto;
    }
    .cards{
        display: flex;
        position: relative;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 40px;
    }
    .rasp .card{
        width: 23%;
    }
    .card{
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;
        width: 47%;
        border: 1px solid black;
        padding: 30px;
        align-items: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        background:#fff;
        transition: all 0.5s ease;
    }
    .card img{
        width: 100%;
        filter: grayscale(1);
        height: 490px;
        object-fit: cover;
        transition: all 0.5s ease;
    }
    .card:hover img{
        filter: grayscale(0);
    }
    .card button{
        border: none;
        background: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    .card:hover{
        transform: scale(1.1);
    }
    .body_shedule{
        background: url(./shedule.png);
        background-size: cover;
        background-position: center;
    }
    .week{
        display: flex;
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: bold;
        color: #0431FE;
        width: 66%;
        margin: 0 auto;
        justify-content: space-around;
    }
    .week span{
        cursor: pointer;
    }
    .body_contact{
        background: url(./we_1.png);
        background-size: cover;

    }
    .we{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
    }
    .burger_menu.burger_right{
        position: absolute;
        right: 0;
    }
    .burger_menu.burger_right .burger_nav ul{
        position: absolute;
        right: 0;
        padding: 0;
     }
     .burger_menu.burger_right .burger_nav ul .tantra ul{
        position: relative;
        padding-left: 20px;
     }
     .number{
        position: absolute;
        bottom: 5vh;
        left: 3vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: #fff;
     }
     .top_text{
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 3vw;
        top: 5vh;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: #0431FE;
    }
    .top_text span{
        transition: all 0.3s ease;
    }
    .top_text span:hover{
        letter-spacing: 4px;
    }
    .zal_isp{
        color: #FF6D00;
     }
     .shedule_bottom:hover{
        color: #9C9C9C;
     }
     .zal_kon{
        color: #6546FC;
     }
     .zal_os{
        color: #0431FE;
     }
     .zal_oh{
        color: #33D9D5;
     }

     body {
        cursor: url(./cursor.png) 17 17,default !important;
     }
   
    


  @keyframes down-to-up {
      0% {
          transform: translateY(0vh);
      }

      50% {
          transform: translateY(-70vh);
      }

      100% {
          transform: translateY(0vh);
      }
  }

  @keyframes up-to-down {
      0% {
          transform: translateY(-70vh);
      }

      50% {
          transform: translateY(0vh);
      }

      100% {
          transform: translateY(-70vh);
      }
  }

  @keyframes left-to-right {
      0% {
          transform: translateX(92vw);
      }

      50% {
          transform: translateX(0vw);
      }

      100% {
          transform: translateX(92vw);
      }
  }

  @keyframes right-to-left {
      0% {
          transform: translateX(0vw);
      }

      50% {
          transform: translateX(92vw);
      }

      100% {
          transform: translateX(0vw);
      }
  }

  @media (max-height:1186px) {
      .second-round {
          padding-top: 24px;
          padding-left: 15%;
      }

      @keyframes left-to-right {
          0% {
              transform: translateX(75vw);
          }

          50% {
              transform: translateX(0vw);
          }

          100% {
              transform: translateX(75vw);
          }
      }

      @keyframes right-to-left {
          0% {
              transform: translateX(0vw);
          }

          50% {
              transform: translateX(75vw);
          }

          100% {
              transform: translateX(0vw);
          }
      }

  }

  @media (max-width:768px) {
      .first-run__top-text {
          font-size: clamp(24px, 32px, 48px);
      }

      .first-run__heading {
          max-width: unset;
          font-size: clamp(24px, 32px, 48px);
          margin-top: 120px;
          margin-right: 0;
      }

      .first-run__btn {
          margin-right: 0;
          margin-left: 0;
      }
      body {
        overflow-y: auto;
      }

      .rasp .card {
        width: 45%;
      }
      .shop_cards .card{
        width: 100%;
      }
      .nav {
        font-size: 25px;
      }
      .gif {
        width: 70vw;
        max-height: 400px;
      }
      .main {
        display: flex;
        position: relative;
        width: 100%;
        gap: 20px;
        height: fit-content;
        margin-top: 50px;
        padding-bottom: 100px;
        align-items: center;
        flex-direction: column;
    }
    .main_text {
        font-size: 17px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        order: 2;
    }
    .main_picture img {
        width: 100%;
        position: relative;
    }
    .main_picture {
        display: block;
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .nav .tantra_links {
        font-size: 25px;
    }
    .post_text1 {
        font-size: 25px;
    }
    .slider {
        margin-top: 120px;
    }
    .slide .image_block { 
        padding: 20px;
    }
    .forma_block {
        width: 90vw;
    }
    .week {
        display: flex;
        position: absolute;
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 42px;
        font-weight: bold;
        color: #0431FE;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
    }
    .body_shedule {
        
        background-size: 130% 100%;
        background-attachment: fixed;
        
    }
  }

  @media (max-width:675px) {
      .second-round {
          padding: 0;
      }
  }
  @media (max-width: 675px) {
.first-run__heading {
    max-width: unset;
    font-size: clamp(24px, 32px, 48px);
    margin-top: 120px;
    margin-right: 0;
    font-size: 25px;
}

.nav {
    font-size: 18px;
}
.nav .tantra_links {
    font-size: 16px;
}
.rasp .card {
    width: 100%;
}
.card img {
    width: 100%;
    filter: grayscale(1);
    height: 350px;
    object-fit: cover;
    transition: all 0.5s ease;
}
.slide .image_block {
    padding: 10px;
}
.line_left, .line_right {
    cursor: pointer;
    padding: 0 5px;
    height: 100px;
}
.slider {
align-items: center;
}
.post_text1 {
    font-size: 19px;
    padding: 10px 50px;
}
.body_shedule {
    background-size: 145% 100%;
    background-attachment: fixed;
}
.week {
    display: flex;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #0431FE;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}
.burger_nav ul {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}
.burger_nav ul .tantra ul {
    display: none;
    position: absolute;
    gap: 10px;
    padding-left: 0px;
}
.burger_nav ul .tantra:hover ul {
    display: flex;
  }
  .forma_block {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 90vw;
    height: fit-content;
    background: url(./big_bubble.png);
    padding: 136px 68px 87px;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
}
.form {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.bub1 {
    position: absolute;
    left: 18px;
    bottom: 30vh;
    transform: scale(0.8);
}
.bub2 {
right: 0;
}
.lopnut {
font-size: 25px;
}
.burger_menu.burger_right .burger_nav ul {
    display: block;
}
.burger_menu.burger_right .burger_nav ul .tantra ul {
    display: none;
}
.burger_menu.burger_right .burger_nav ul .tantra:hover ul {
    display: block;
}
}